/*
  Icon Font: fontopengov
*/

@font-face {
  font-family: "fontopengov";
  src: url("../fonts/fontopengov.eot");
  src: url("../fonts/fontopengov.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontopengov.woff") format("woff"),
       url("../fonts/fontopengov.ttf") format("truetype"),
       url("../fonts/fontopengov.svg#fontopengov") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontopengov";
    src: url("../fonts/fontopengov.svg#fontopengov") format("svg");
  }
}

.opengov-agriculture:before,
.opengov-arts:before,
.opengov-blog:before,
.opengov-citizen:before,
.opengov-economics:before,
.opengov-education:before,
.opengov-government:before,
.opengov-health:before,
.opengov-history:before,
.opengov-info:before,
.opengov-labour:before,
.opengov-law:before,
.opengov-maps:before,
.opengov-military:before,
.opengov-nature:before,
.opengov-open-data:before,
.opengov-open-dialog:before,
.opengov-open-gov:before,
.opengov-open-govt:before,
.opengov-open-info:before,
.opengov-projects:before,
.opengov-science:before,
.opengov-society:before,
.opengov-transport:before {
  display: inline-block;
  font-family: "fontopengov";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.opengov-agriculture:before { content: "\f100"; }
.opengov-arts:before { content: "\f101"; }
.opengov-blog:before { content: "\f11b"; }
.opengov-citizen:before { content: "\f102"; }
.opengov-economics:before { content: "\f103"; }
.opengov-education:before { content: "\f104"; }
.opengov-government:before { content: "\f105"; }
.opengov-health:before { content: "\f106"; }
.opengov-history:before { content: "\f107"; }
.opengov-info:before { content: "\f108"; }
.opengov-labour:before { content: "\f109"; }
.opengov-law:before { content: "\f10a"; }
.opengov-maps:before { content: "\f10b"; }
.opengov-military:before { content: "\f10c"; }
.opengov-nature:before { content: "\f10d"; }
.opengov-open-data:before { content: "\f116"; }
.opengov-open-dialog:before { content: "\f117"; }
.opengov-open-gov:before { content: "\f11a"; }
.opengov-open-govt:before { content: "\f118"; }
.opengov-open-info:before { content: "\f119"; }
.opengov-projects:before { content: "\f10e"; }
.opengov-science:before { content: "\f10f"; }
.opengov-society:before { content: "\f110"; }
.opengov-transport:before { content: "\f111"; }
