.rate-widget-fiveleaf ul {
  list-style: none;
  overflow: hidden;
}

.rate-widget-fiveleaf .item-list ul li {
  background-image: none;
  padding: 0;
  margin: 0px 5px 0px 0px;
}

.rate-widget-fiveleaf ul li {
  float: left;
  list-style: none;
}

.rate-widget-fiveleaf ul li a {
  display: block;
  float: left;
}

.rate-widget-fiveleaf svg{
  height: 25px;
  width: 25px;
  stroke: black;
  stroke-width: 0.025em
  -webkit-filter:  drop-shadow( 2px 2px 1px grey);
  filter: drop-shadow( 2px 1px 1px grey);
}

.rate-widget-fiveleaf svg:hover .canada_leaf {
  fill: black !important;
}

.rate-fiveleaf-btn-filled svg .canada_leaf  {
  fill: red;
}

.rate-fiveleaf-btn-empty svg .canada_leaf  {
  fill: grey;
}

.rate-widget-fiveleaf .item-list ul {
  margin: 5px 0px 0px 0px;
  padding: 0px;
}
